In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
from datetime import datetime

In [2]:
# get the sum of all the deaths 
# get the sum of cured patiets of aruachal pradesh regio
# get the data of ihar regio withi 05-02-2021 ad this 10-03-2021
# get the data of a 10-04-2020 of all the regios

In [14]:
covid_df = pd.read_csv("/content/sample_data/COVID-19 Cases(14-09-2022).csv")

In [15]:
covid_df.head(5)

,S. No.,Date,Region,Confirmed Cases,Active Cases,Cured/Discharged,Death
0,1,01-01-1970,India,34697860,91456.0,34130768.0,475636.0
1,2,21-12-2014,India,34703644,88993.0,34138763.0,475888.0
2,3,21-12-2015,India,34710628,87562.0,34146931.0,476135.0
3,4,12-03-2020,India,74,71.0,3.0,0.0
4,5,13-03-2020,India,75,71.0,3.0,1.0

In [16]:
# Get the sum of all the deaths
sum_of_deaths = covid_df["Death"].sum()

In [17]:
sum_of_deaths

3172746830.0

In [18]:
# get the sum of cured patiets of arunachal pradesh 
cured_ap = pd.pivot_table(covid_df,values =["Cured/Discharged"], index = "Region", aggfunc = max)
cured_ap = cured_ap.sort_values(by = "Arunachal Pradesh", axis = 1)

In [19]:
cured_ap.head()

                             Cured/Discharged
Region
Andaman and Nicobar Islands            9986.0
Andhra Pradesh                      2305893.0
Arunachal Pradesh                     64218.0
Assam                                716405.0
Bihar                                819388.0

In [21]:
# get the data of a 10-04-2020 of all the regios
specific_date = covid_df["Date"].isin(["10-04-2020"])
covid_df[specific_date]

,S. No.,Date,Region,Confirmed Cases,Active Cases,Cured/Discharged,Death
32,33,10-04-2020,India,6412,5709.0,504.0,199.0
830,831,10-04-2020,Andaman and Nicobar Islands,11,11.0,0.0,0.0
1643,1644,10-04-2020,Andhra Pradesh,348,338.0,6.0,4.0
2434,2435,10-04-2020,Arunachal Pradesh,1,1.0,0.0,0.0
3226,3227,10-04-2020,Assam,29,29.0,0.0,0.0
4029,4030,10-04-2020,Bihar,39,38.0,0.0,1.0
4835,4836,10-04-2020,Chandigarh,18,11.0,7.0,0.0
5640,5641,10-04-2020,Chhattisgarh,10,1.0,9.0,0.0
7208,7209,10-04-2020,Delhi,720,683.0,25.0,12.0
8007,8008,10-04-2020,Goa,7,7.0,0.0,0.0
8811,8812,10-04-2020,Gujarat,241,198.0,26.0,17.0
9624,9625,10-04-2020,Haryana,169,137.0,29.0,3.0
10428,10429,10-04-2020,Himachal Pradesh,18,15.0,2.0,1.0
11241,11242,10-04-2020,Jammu and Kashmir,158,150.0,4.0,4.0
12033,12034,10-04-2020,Jharkhand,13,12.0,0.0,1.0
12846,12847,10-04-2020,Karnataka,181,148.0,28.0,5.0
13659,13660,10-04-2020,Kerala,357,259.0,96.0,2.0
14472,14473,10-04-2020,Ladakh,15,5.0,10.0,0.0
15949,15950,10-04-2020,Madhya Pradesh,259,243.0,0.0,16.0
16762,16763,10-04-2020,Maharashtra,1364,1142.0,125.0,97.0
17562,17563,10-04-2020,Manipur,2,1.0,1.0,0.0
19140,19141,10-04-2020,Mizoram,1,1.0,0.0,0.0
20695,20696,10-04-2020,Odisha,44,41.0,2.0,1.0
21501,21502,10-04-2020,Puducherry,5,4.0,1.0,0.0
22314,22315,10-04-2020,Punjab,101,89.0,4.0,8.0
23127,23128,10-04-2020,Rajasthan,463,439.0,21.0,3.0
24768,24769,10-04-2020,Tamil Nadu,834,805.0,21.0,8.0
25581,25582,10-04-2020,Telangana,442,400.0,35.0,7.0
26368,26369,10-04-2020,Tripura,1,1.0,0.0,0.0
27181,27182,10-04-2020,Uttar Pradesh,410,375.0,31.0,4.0
27990,27991,10-04-2020,Uttarakhand,35,30.0,5.0,0.0
28796,28797,10-04-2020,West Bengal,116,95.0,16.0,5.0
29618,29619,10-04-2020,World,1559752,NaN,NaN,97671.0

In [26]:
# get the data of ihar regio withi 05-02-2021 ad this 10-03-2021
filter1 = covid_df["Region"].isin(["Bihar"])
filter2 = covid_df["Date"].between("05-02-2021","10-03-2021")
covid_df[filter1 & filter2]

,S. No.,Date,Region,Confirmed Cases,Active Cases,Cured/Discharged,Death
4024,4025,05-04-2020,Bihar,30,29.0,0.0,1.0
4025,4026,06-04-2020,Bihar,30,29.0,0.0,1.0
4026,4027,07-04-2020,Bihar,32,31.0,0.0,1.0
4027,4028,08-04-2020,Bihar,38,37.0,0.0,1.0
4028,4029,09-04-2020,Bihar,38,37.0,0.0,1.0
...,...,...,...,...,...,...,...
4759,4760,08-05-2022,Bihar,830616,52.0,818308.0,12256.0
4785,4786,05-06-2022,Bihar,830823,69.0,818498.0,12256.0
4786,4787,06-06-2022,Bihar,830834,75.0,818503.0,12256.0
4787,4788,07-06-2022,Bihar,830838,74.0,818508.0,12256.0
4788,4789,09-06-2022,Bihar,830866,82.0,818528.0,12256.0